<div class="personal-info">
  <p><a href="mailto:zeyuxiang@foxmail.com">zeyuxiang@foxmail.com</a></p>
  <p>河南科技大学 信息工程学院</p>
  <p>计算机与科学技术专业本科生</p>
  <p>均分90.6 国家一流本科专业</p>
  <p>全球ESI前1%,双一流建设重点高校</p>
  <p>研究兴趣：人工智能，计算机视觉</p>
  <p></p>
  <p>中共党员 信息工程学院</p>
  <p>本科生第三党支部组织委员</p>
  <p>CCF学生会员 IEEE学生会员</p>
  <p>ACM会员 网易云音乐人</p>
  <p>六级526分，托福备考中</p>
  <p></p>
  <div class="address-container">
    <p class="address-item"><span class="emoji">🏠</span><span class="location">湖北 咸宁</span></p>
    <p class="address-item"><span class="emoji">📍</span><span class="location">河南 洛阳</span></p>
  </div>
</div>
