
<script src="https://l2dwidget.js.org/lib/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({
        "model": {
            // 白猫模型： jsonPath: "https://unpkg.com/live2d-widget-model-tororo/assets/tororo.model.json",
            jsonPath: "https://unpkg.com/live2d-widget-model-hijiki/assets/hijiki.model.json",
            "scale": 1
        },
        "display": {
            "position": "right",
            "width": 150,
            "height": 300,
            "hOffset": 0,
            "vOffset": -50
        },
        "mobile": {
            "show": true,
            "scale": 0.5
        },
        "react": {
            "opacityDefault": 0.7,
            "opacityOnHover": 0.3
        }
    });
</script>
